@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Lato:wght@400;700&family=Poppins:wght@300&family=Quicksand:wght@300..700&display=swap');
* {
font-family: 'lato', sans-serif
padding: 0;
margin: 0;
box-sizing: border-box;
}

h1, h2, h3, h4, h5, h5, span {
    color: black
text-align: center;
line height: 1.5;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
}
.flex {
    display: flex;
}
.flex-1 {
    flex: 1;

}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: rgb(89, 6, 89);
}
/* NAVIGATION BAR */
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list{
    display:flex;
    justify-content: space-between;

}
.nav__link--anchor {
    margin: 0 12px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: rgb(89, 6, 89);
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
}
.nav__link--anchor-primary:hover {
    background-color: rgb(203, 85, 203);
}
.personal__logo {
    font-size: 24px;
    color: rgb(89, 6, 89);
    margin: 0 12px;
    font-weight: bold;
}

/* ABOUT ME SECTION */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600;
    margin: 0 auto;
    text-align: center;

}
.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    overflow: hidden; 
    box-shadow: 0 8 16px black
    margin-bottom: 28px;
    justify-content: center;
    align-items: center;
}

.about-me__picture {
    width: 100%;
/*improving my own picture*/
transform: scale 1.2;
align-items: center;
}

.about-me__info--title {
    margin-bottom: 16px;
}

.about-me__info--para{
    font-size: 20px;
    margin-bottom: 28px;
}
.about-me__links {
    font-size: 20px;
    text-decoration: none;
    padding: 0 16px;
}