@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Lato:wght@400;700&family=Poppins:wght@300&family=Quicksand:wght@300..700&display=swap");
* {
  font-family: "lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5,
span {
  color: black;
  text-align: center;
  line-height: 1.5;
}
h1 {
  font-size: 36px;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.container {
  padding: 50 0px;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.text--purple {
  color: rgb(89, 6, 89);
}
section:nth-child(even) {
  background-color: #e9e0e0;
}

.section__title {
  margin-bottom: 20px;
}
/* NAVIGATION BAR */
nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  display: flex;
  justify-content: space-between;
}
.nav__link--anchor {
  margin: 0 12px;
  color: black;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: rgb(89, 6, 89);
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
}
.nav__link--anchor-primary:hover {
  background-color: rgb(203, 85, 203);
}
.personal__logo {
  font-size: 24px;
  color: rgb(89, 6, 89);
  margin: 0 12px;
  font-weight: bold;
}

/* ABOUT ME SECTION */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}
.about-me__info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600;
  margin: 0 auto;
  text-align: center;
}
.about-me__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8 16px;
  color: black;
  margin-bottom: 28px;
  justify-content: center;
  align-items: center;
}

.about-me__picture {
  width: 100%;
  /*improving my own picture*/
  transform: scale (1.2);
  align-items: center;
}

.about-me__info--title {
  margin-bottom: 16px;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
}
.about-me__links {
  font-size: 20px;
  padding: 0 16px;
}
.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}
.about-me__img {
  width: 100%;
  padding-top: 16px;
}

/* TECH - STACK */

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}
.language__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}
.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}
/* PROJECT SECTION */
.project {
  margin-bottom: 135px;
}
project:last-child {
  margin-bottom: 40px;
}
.project__img {
  width: 100%;
  transition: all 500ms ease;
}
.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgb(0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450 ms ease;
  z-index: 2;
}
.project:hover .project__wrapper:before {
  opacity: 0.7;
}
.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}
.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}
.project__list {
  padding-top: 40px;
}
.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(-50%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: opacity 300ms;
  transition: tranfsform 450ms, opacity 300ms;
}
.project__description--title {
  font-size: 40x;
}
.project__description--para {
  margin: 16px 0;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;

}
.project__description--title,
.project__description--subtitle, 
.project__description--para,
.project__description--link,
.project__description
 {
  text-align: left;
  color: white;
}
/* FOOTER SECTION */
.footer {
  background-color: #242424;
}
.footer__logo{
  margin-bottom: 20px;
}
.footer__social--list {
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}

.footer__logo--img {
  width: 70px;
  height: 70px;
}
.footer__social--link,
.footer__copywright,
.footer__logo--popper  {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-size: 20px;
}